<!DOCTYPE html>
<html lang="en">

<!-- Header -->
<th:block th:replace="~{fragments/header :: headerFragment}"></th:block>

<body>
	<!-- Navbar -->
	<nav th:replace="~{navbar :: navbarFragment}"></nav>

	<!-- Page Header -->
	<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
		<div class="container text-center py-5">
			<h1 class="display-3 text-white mb-4 animated slideInDown">Contact Us</h1>
		</div>
	</div>


	<!-- Contact Start -->
	<div class="container-xxl py-5">
		<div class="container">
			<div class="row g-5">
				<div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
					<p class="fs-5 fw-bold text-primary">Contact Us</p>
					<h1 class="display-5 mb-5">If You Have Any Query, Please Contact Us</h1>
				</div>
				<div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="min-height: 450px;">
					<div class="position-relative rounded overflow-hidden h-100">
						<div id="map" style="width: 100%; height: 400px;"></div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- Contact End -->

	<!-- Footer -->
	<th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>

	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=35434dca04602fd4e0c19bab252298b2"></script>

		<script>
			document.addEventListener("DOMContentLoaded", function() {
        var container = document.getElementById('map');
			var options = {
				center: new kakao.maps.LatLng(33.430475, 126.928236),
			level: 3
        };

			var map = new kakao.maps.Map(container, options);

			var marker = new kakao.maps.Marker({
				position: map.getCenter()
        });

			marker.setMap(map);
    });
	</script>
</body>

</html>