<!DOCTYPE html>
<html>

<!-- Header -->
<th:block th:replace="~{fragments/header :: headerFragment}"></th:block>

<body>
	<!-- Navbar -->
	<nav th:replace="~{navbar :: navbarFragment}"></nav>

	<!-- Page Header Start -->
	<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
		<div class="container text-center py-5">
			<h1 class="display-3 text-white mb-4 animated slideInDown">Login</h1>
		</div>
	</div>
	<!-- Page Header End -->

	<!-- 로그인 폼 -->
	<div id="wrapper">
		<div class="container">
			<div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
				<p class="fs-5 fw-bold text-primary">Hava a nice day</p>
				<h1 class="display-5 mb-5">Welcome</h1>
			</div>
			<div class="row justify-content-center wow fadeInUp" data-wow-delay="0.2s">
				<form th:action="@{/login}" method="post" class="col-md-4">
					<div class="bg-light text-dark p-3 rounded-3">
						<div th:if="${param.error}">
							<div class="alert alert-danger">
								사용자ID 또는 비밀번호를 확인해 주세요.
							</div>
						</div>
						<div class="mb-3">
							<label for="username" class="form-label">ID</label>
							<input type="text" name="username" id="id" class="form-control">
						</div>
						<div class="mb-2">
							<label for="password" class="form-label">Password</label>
							<input type="password" name="password" id="password" class="form-control">
						</div>
					</div>
					<a th:href="@{/join}" class="text-muted mt-1 mx-1">Don't have an account?</a>
					<div class="d-grid gap-2 mx-auto mt-4">
						<button type="submit" class="btn btn-outline-primary">Login</button>
					</div>
					
				</form>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
</body>

</html>