<!DOCTYPE html>
<html>

<body>
	<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
		<a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
			<h1 class="m-0">Serenitas Resort</h1>
		</a>
		<button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<div class="navbar-nav ms-auto p-4 p-lg-0">
				<a href="/about" class="nav-item nav-link">About</a>
				<a href="/rooms" class="nav-item nav-link">Rooms</a>
				<a href="/notice/list" class="nav-item nav-link">Notice</a>
				<a href="/contact" class="nav-item nav-link">Contact</a>
				<a sec:authorize="hasRole('ADMIN')" th:href="@{/status}" class="nav-item nav-link">Status</a>
				<a sec:authorize="isAnonymous()" th:href="@{/join}" class="nav-item nav-link">Join</a>
				<a sec:authorize="isAnonymous()" th:href="@{/login}" class="nav-item nav-link">Login</a>
				<a sec:authorize="isAuthenticated()" class="nav-item nav-link">
					<i class="fas fa-user"></i> <!-- Font Awesome의 사용자 아이콘 -->
					<span
						th:text="|${#authorization.expression('isAuthenticated()') ? #authentication.name : ''}|"></span>
				</a>
				<a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="nav-item nav-link">Logout</a>

			</div>
			<a href="/reservationCheck" class="btn btn-primary py-4 px-lg-4 rounded-0 d-none d-lg-block"
				style="white-space: nowrap;">Book now<i class="fa fa-arrow-right ms-3"></i></a>
		</div>
	</nav>
</body>

</html>