<!DOCTYPE html>
<html>

<!-- Header -->
<th:block th:replace="fragments/header :: headerFragment"></th:block>

<body>
	<!-- Navbar -->
	<nav th:replace="~{navbar :: navbarFragment}"></nav>

	<!-- Page Header -->
	<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
		<div class="container text-center py-5">
			<h1 class="display-3 text-white mb-4 animated slideInDown">Notice Detail</h1>
		</div>
	</div>

	<div id="wrapper">
		<div class="container">
			<!-- 게시글 보기 -->
			<div class="d-flex justify-content-between align-items-center border-bottom py-1">
				<h2 th:text="${postDetail.title}"></h2>
				<div class="text-end">
					<div class="d-flex justify-content-end">
						<h6 class="me-3" th:if="${postDetail.postUser != null}">
							작성자: <span th:text="${postDetail.postUser.id}"></span>
						</h6>
						<h6 class="me-3">
							작성일: <span th:text="${#temporals.format(postDetail.postDate, 'yyyy-MM-dd HH:mm')}"></span>
						</h6>
						<h6 th:if="${postDetail.postModifiedDate != null}">
							수정일: <span
								th:text="${#temporals.format(postDetail.postModifiedDate, 'yyyy-MM-dd HH:mm')}"></span>
						</h6>
					</div>
				</div>
			</div>
			<pre><h4 class="mt-5 mb-5" th:text="${postDetail.content}"></h4></pre>
			<div class="my-3 d-flex justify-content-end">
				<a th:href="@{|/notice/modify/${postDetail.postId}|}" class="btn btn-sm btn-outline-secondary me-2"
					sec:authorize="isAuthenticated()"
					th:if="${postDetail.postUser != null and #authentication.getPrincipal().getUsername() == postDetail.postUser.id}"
					th:text="수정"></a>

				<a href="javascript:void(0);" th:data-uri="@{|/notice/delete/${postDetail.postId}|}"
					class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
					th:if="${postDetail.postUser != null and #authentication.getPrincipal().getUsername() == postDetail.postUser.id}"
					th:text="삭제"></a>
			</div>

			<!-- 댓글 보기 -->
			<h6 th:text="|${#lists.size(postDetail.comments)}개의 답변이 있습니다.|" class="my-3"></h6>
			<div class="my-2" th:each="comments : ${postDetail.comments}">
				<div class="badge text-dark p-2 text-start d-flex justify-content-between">
					<div class="mt-2">
						<span th:if="${comments.commentUser != null}" th:text="${comments.commentUser.id}"></span>
					</div>
					<div class="text-end">
						작성일: <span class="me-2"
							th:text="${#temporals.format(comments.commentDate, 'yyyy-MM-dd HH:mm')}"></span>
						<span th:if="${comments.commentModifiedDate != null}">수정일: </span>
						<span th:text="${#temporals.format(comments.commentModifiedDate, 'yyyy-MM-dd HH:mm')}"></span>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<pre><div class="card-text mt-2" style="white-space: pre-line;" th:text="${comments.comment}"></div></pre>
						<div class="d-flex justify-content-end mt-3">
							<a th:href="@{|/comment/modify/${comments.commentId}|}"
								class="btn btn-sm btn-outline-secondary me-2" sec:authorize="isAuthenticated()"
								th:if="${comments.commentUser != null and #authentication.getPrincipal().getUsername() == comments.commentUser.id}"
								th:text="수정"></a>
							<a href="javascript:void(0);" th:data-uri="@{|/comment/delete/${comments.commentId}|}"
								class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
								th:if="${comments.commentUser != null and #authentication.getPrincipal().getUsername() == comments.commentUser.id}"
								th:text="삭제"></a>
						</div>
					</div>
				</div>
			</div>

			<!-- 댓글 등록하기 -->
			<form th:action="@{|/comment/create/${postDetail.postId}|}" th:object="${commentForm}" method="post"
				class="my-3">
				<div>
					<textarea sec:authorize="isAnonymous()" disabled th:field="*{comment}" class="form-control"
						rows="3"></textarea>
					<textarea sec:authorize="isAuthenticated()" th:field="*{comment}" class="form-control"
						rows="3"></textarea>
					<div th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}" class="alert alert-danger"
						role="alert"></div>
				</div>
				<div class="d-flex justify-content-end">
					<input type="submit" value="댓글 등록" class="btn btn-primary my-2 me-2">
					<a href="/notice/list" class="btn btn-secondary my-2">목록</a>
				</div>
			</form>

			<script layout:fragment="script" type='text/javascript'>
				const delete_elements = document.getElementsByClassName("delete");
				Array.from(delete_elements).forEach(function (element) {
					element.addEventListener('click', function () {
						if (confirm("정말로 삭제하시겠습니까?")) {
							location.href = this.dataset.uri;
						};
					});
				});
			</script>
		</div>
	</div>
	<!-- Footer -->
	<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</body>

</html>