<!DOCTYPE html>
<html lang='en'>

<!-- Header -->
<th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>

<script th:inline="javascript">
	document.addEventListener('DOMContentLoaded', function () {
		var calendarEl = document.getElementById('calendar');

		// 서버로부터 이벤트 데이터를 비동기적으로 가져오기
		var request = $.ajax({
			url: "/event",
			method: "GET"
		});

		request.done(function (data) {
			// 캘린더 초기화
			var calendar = new FullCalendar.Calendar(calendarEl, {
				initialView: 'dayGridMonth',
				locale: 'ko',
				dateClick: function (info) {
					var clickedDate = info.dateStr;
					var selectedDate = new Date(clickedDate);
					var today = new Date();

					today.setHours(0, 0, 0, 0);
					selectedDate.setHours(0, 0, 0, 0);

					if (selectedDate < today) {
						alert('이전 날짜는 선택할 수 없습니다. 다시 선택해주세요.');
					} else {
						window.location.href = '/reservation?selectedDate=' + clickedDate;
					}
				}
			});

			// FullCalendar에 이벤트 추가
			calendar.addEventSource(data);

			// 캘린더 렌더링
			calendar.render();
		});
	});

</script>

<body>
	<!-- Navbar -->
	<nav th:replace="~{navbar :: navbarFragment}"></nav>

	<!-- Page Header -->
	<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
		<div class="container text-center py-5">
			<h1 class="display-3 text-white mb-4 animated slideInDown">Calendar</h1>
		</div>
	</div>

	<!-- Calendar -->
	<div id="wrapper mx-10">
		<div class="container">
			<div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.2s" style="max-width: 500px;">
				<p class="fs-5 fw-bold text-primary">Do you Wanna go on vacation?</p>
				<h1 class="display-5 mb-5">Reservation Status</h1>
			</div>
			<div id='calendar' class="wow fadeInUp"></div>
		</div>
	</div>
	<!-- Footer -->
	<th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>

</body>

</html>